[2012-01-09 14:06] thom4parisot opened #1 "TypeError Exception thrown"
Hello,

I try to package an extension through your module but it throws error on almost all configurations I try.
In my extension directory, I have 2 things:
- `key.pem`
- `src/` in which I have all html, css and js files

When I type, following your example, `crx pack src/ -p key.pem -f`, this error is shown:

<pre><code>node.js:201
        throw e; // process.nextTick error, or 'error' event on

[2012-01-09 21:58] #1 closed, assigned to nobody

[2013-03-12 20:32] rektide opened #5 "generatePublicKey does not handle exceptions"
ran something akin to what crx had been running manually via grunt-crx:

`cat ~/.ssh/chrome-apps.pem|openssl rsa -pubout -outform DER`

this tossed:

`unable to load Private Key
140314491279016:error:0906D06C:PEM routines:PEM_read_bio:no start line:pem_lib.c:696:Expecting: ANY PRIVATE KEY`

obviously problems on my side generating the key, but crx does not throw an error here, it simply does nothi

[2013-06-15 08:32] vjpr opened #7 "require statements should be wrapped in try..catch"
E.g. if the `manifest.json` file doesn't pass properly...

[code]

Error should be passed to callback.

[2013-06-15 15:23] #7 closed, assigned to nobody

[2013-07-22 12:54] ehrlich-b opened #9 "Windows Compatibility"
I was looking into integrating grunt-crx with my windows builds, unfortunately this package does not appear to be windows compatible. A couple of examples (from crx.js):

spawn("rm", ["-rf", this.path])
var child = spawn("cp", ["-R", this.rootDirectory, this.path])

Are there any plans to add windows compatibility? If not I may be able to make a contribution. It would be a big upgrade from our cur

[2013-08-03 18:10] wildeyes opened #11 "Error when compiling extension"
When trying to compile my extension, I get this error:
   /usr/lib/node_modules/crx/node_modules/wrench/lib/wrench.js:356
                                if (fileStat.isDirectory())
                                             ^
    TypeError: Cannot call method 'isDirectory' of undefined
        at /usr/lib/node_modules/crx/node_modules/wrench/lib/wrench.js:356:42
        at Object.oncomplete (fs

[2013-08-05 14:59] #11 closed, assigned to nobody

[2013-10-10 20:09] thom4parisot opened #12 "Pure JavaScript RSA generation"
Hello,

I told you during LXJS it could be interesting to generate RSA keypair in pure JS to have a very portable code (and eventually lead to an extension… packaging extensions :-D).

I've spotted so far:
- [keypair](https://github.com/juliangruber/keypair)
- [node-bignumber](https://github.com/eschnou/node-bignumber)
- [node `crypto` module](http://nodejs.org/api/crypto.html)
- [jsrsasign](http:

[2014-01-17 10:35] vjpr opened #13 "Support prodversionmin"
http://developer.chrome.com/extensions/autoupdate.html#minimum_browser_version

[2014-03-28 06:52] towski opened #15 "recursive error when packing"
# crx pack . -f

/home/towski/.nvm/v0.10.26/lib/node_modules/crx/src/crx.js:59
      if (err) { throw err }
                       ^
Error: ENAMETOOLONG, stat '/home/towski/code/tabber/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhnfcq8/tmp/crx-mapcxhn

[2014-03-29 01:02] #15 closed, assigned to nobody

[2014-07-03 14:43] yuryoparin opened #18 "Event 'finished' no longer valid"
Hi @jed. I've recently tried to build a chrome extension using grunt-crx, which uses your crx module and failed to do so. After a few hours of crawling through the code, I spotted a bug in https://github.com/jed/crx/blob/master/src/crx.js#L125:
   archive.on("finish",function() {...

In a new version of archiver's dependency: readable-stream, there's a line 704 which listens for the 'readable' eve

[2014-11-02 13:22] #9 closed, assigned to nobody

[2014-11-23 22:07] #18 closed, assigned to nobody

[2014-11-23 22:08] oncletom opened #21 "Build error with Node 0.11"
It seems to be related to `Buffer`.

[2014-11-23 22:10] #5 closed, assigned to nobody

[2014-11-25 21:13] thom4parisot opened #23 "crx.pack(archiveBuffer) signature"
- [x] if archiveBuffer is not provided, execute `crx.loadContents`
- [x] otherwise sign the provided buffer value

[2014-11-29 15:54] #12 closed, assigned to nobody

[2014-11-29 16:26] #23 closed, assigned to nobody

[2014-12-15 11:08] okuryu opened #31 "Generating .crx doesn't works"
Hi,

I'm trying to use `crx` to generate `.crx` file, but it seems not to works for me. Am I missing something?

[code]

[2014-12-15 13:12] #31 closed, assigned to nobody

[2014-12-17 15:44] oncletom opened #33 "`crx pack` does not work (whereas `crx pack .` does)"
The default path should be `process.cwd()`.

[2015-01-15 18:23] #33 closed

[2015-01-24 11:55] qbarlas opened #36 "code mistake in README"
I think there is a mistake in the README.md. In the Module example.

Line 10 : `return crx.pack(function(crxBuffer){` -> `return crx.pack().then(function(crxBuffer) {`

[2015-01-26 14:05] oncletom commented on #36
Could you amend the file and propose it as a PR instead? Thanks :-)

[2015-01-31 14:37] #36 closed

[2015-02-04 18:58] shakiba opened #38 "Cannot read property 'length' of null"
I get this error with io.js v1.0.3:
[code]

[2015-02-06 11:22] oncletom commented on #38
Yep, same issue as per Node v0.11 as well.

I have added iojs support in CI to see how it goes.

[2015-02-06 11:23] #38 closed

[2015-02-06 11:40] oncletom commented on #21
Reported by #38 and addressed with #39.

[2015-02-06 11:40] #21 closed

[2015-02-06 11:44] oncletom opened #40 "Streamed signing and archiving"
- [ ] `crypto.sign` apparently accepts ReadableStream
- [ ] `generatePackage` could return a stream instead of a Buffer object

The entire archive must have been fully read to generate a valid signature, and read again (?) to emit a signed stream.

[2015-02-06 11:50] oncletom opened #41 "Accept a glob pattern in addition to a folder location"
- [ ] `crx pack 'src/(app|assets|controllers)/*.{css,html,js}'` (otherwise it is OS interpolated)
- [ ] `crx pack .` === `crx pack './**'`

The *folder* is the first one which contains a valid `manifest.json` file.

[2015-02-11 23:51] oncletom opened #42 "Rename methods to reflect their intent"
There is a confusion between `load` (load manifest) and `loadContent` (actually generates a zip buffer).

We do not want the constructor to perform any FS operation to allow users to delay the execution.

Ideal flow:

[code]

[2015-03-02 21:03] erikmunson opened #43 "Pkg currently not working with node-rsa 0.2.20"
A couple of days ago `node-rsa` released version 0.2.20. This update appears to have been minor, but after updating the deps for `crx` my builds started failing. A quick look at the stack trace revealed this (taken directly from console):

[code]

Manually hard-coding the `node-rsa` dependency in `package.json` seems to totally resolve the issue. I will try to post more detailed logging shortly, b

[2015-03-02 21:07] oncletom commented on #43
@erikmunson thanks for your report. You might double post it on the `node-rsa` issue tracker. If a method got deprecated/removed, its maintainer should have bumped the major version.

[2015-03-02 21:08] erikmunson commented on #43
@oncletom Perfect, will do.

[2015-03-02 22:00] erikmunson commented on #43
@oncletom Turns out this was a small bug in v0.2.20 that just got patched in v0.2.21. Tested on the build which had been failing and works great. Thanks for prompting to cross-post on `node-rsa`!

Details: https://github.com/rzcoder/node-rsa/issues/32

[2015-03-02 22:00] #43 closed

[2015-03-02 22:46] oncletom commented on #43
That's great :-) I love solving problems without writing a single line of code ;-)

[2015-03-02 23:57] erikmunson commented on #43
Amen!

[2015-03-17 03:57] 8bitDesigner opened #44 "Generate XML from CLI?"
https://github.com/oncletom/crx/blob/master/bin/crx.js#L18-L19

How soon? :)

[2015-03-19 11:28] oncletom commented on #44
@8bitDesigner well good question, it was not captured as an issue until now ;-)

The inner feature is already done, it is basically the `pack` command without `zip` nor `crx` file generation. Feel free to contribute it :-)

[2015-03-24 03:15] heytitle opened #45 "Can't use option `-f`."
I got this error.
[code]
Not sure what happens.

Node's version is v0.10.35

[2015-06-16 11:25] Redsandro opened #46 "RSA should be 2048 bit RSA"
Google generates 2048 bit keys by default now. Perhaps `crx` should do the same.

https://github.com/oncletom/crx#crx-keygen-directory

[2015-06-16 14:20] oncletom commented on #46
Yep you are right, since a while actually: https://code.google.com/p/chromium/issues/detail?id=293661

Feel free to propose the change, as I suppose you relate to [bin/crx.js#L62](https://github.com/oncletom/crx/blob/e946117d8994655a294757ae07b07ef58fe6f8a4/bin/crx.js#L62).

[2015-06-16 14:23] oncletom commented on #45
It changed in 8638efeae30f64b9f33fc3366aaf280a523de58e / v2.0.0 / cf. [git blame](https://github.com/oncletom/crx/blame/e946117d8994655a294757ae07b07ef58fe6f8a4/bin/crx.js#L23).

You can use `-o` to output to a file, instead of `-f`. The last often refers as `--force` rather than `--file` (file is too imprecise on its meaning and implications).

Let me know how it goes.

[2015-08-12 03:56] se-panfilov opened #48 "Cannot .pack() extension because of 'Error: It is not public key'"
Hi, thanks for crx.

I'm trying to make simple [gulp-crx extension][1]. But i'm run into an issue with "rsa publick key" and cannot figure out what I'm doing wrong:

[code]

Whatever I'm trying, after `crx.pack(archiveBuffer);` i've got an error:

[code]

Btw: ubuntu 14.04 x64, node v0.10.40, crx v3.0.3.
And chrome browser **can** build up a test extension

[1]: https://github.com/se-panfilov/gulp

[2015-08-13 13:54] PavelVanecek commented on #48
You are supposed to either:
a) include a `key.pem` private key file in the root extension directory, or
b) pass the private key text as a parameter

See the usage section in docs: https://github.com/oncletom/crx#module-example

See the code that handles it: https://github.com/oncletom/crx/blob/e946117d8994655a294757ae07b07ef58fe6f8a4/bin/crx.js#L93

Side note: feel free to use an already finished

[2015-08-14 02:34] se-panfilov commented on #48
Oh, thanks a lot. )

P.S. I think it's be a good idea to includ ref to gulp-crx in to the docs. Thanks anyway

[2015-08-14 02:34] #48 closed

[2016-02-13 10:11] #46 closed

[2016-04-20 01:59] cbuteau opened #55 "ENOTDIR on a file."
Hello I am using the grunt-crx-pack grunt extension which uses your library.

It runs into an error packaging a chrome extension on Windows.

[code]

AT first I suspected wrench which claims to be a deprecated package.
But when I tried to replace the wrench.copyRecursive() call with fs-extra.copy() I ran into another problem.

I just want to automate the packaging of the extension and grunt seemed

[2016-05-06 15:50] #45 closed

[2016-05-22 11:26] arieljannai opened #57 "temp working directory is not deleted"
The temporary folder (crxXXXXX-XXXXX-XXXXXXX) is not being deleted after the process is finished.
Is it known?
Maybe it's only on my working station?

I'm using the crx module (3.0.3) inside my module on `node v0.12.7`

[2016-09-21 12:45] oncletom opened #59 "Remove wrench and temp and favour using `archive.bulk` method"
There are regular bugs (#57 #17) about temporary files not being deleted.

Plus I do not like the idea we generate temporary files during `crx.load` and copy them *again* into a zip archive.

Here is the proposed plan:

- [x] `crx.load()` should load only the manifest
- [x] ~~a new method should~~:
 1. ~~locate the files in the folder containing the `manifest.json`~~
 1. ~~filter out the ones whic

[2016-09-21 15:36] oncletom commented on #57
It is clearly a bug because the `temp` module should remove them after the process ended.

[2016-09-21 16:21] oncletom commented on #55
Yeah it is probably an issue which happens during the copy/temporary copy.

I have plan to address it with #59.

[2016-09-21 16:43] oncletom opened #60 "Document `ChromeExtension` API options"
I realise they are not described anywhere.

[2016-09-21 17:07] oncletom opened #61 "Redesign crx API"
[code]

[2016-09-22 13:27] oncletom opened #65 "Support packaging WebExtensions"
Cf. https://wiki.mozilla.org/WebExtensions#Packaging

It means _zipping_ + suffixing with `.xpi`.

[2016-09-22 14:03] oncletom commented on #42
Superseded by #61

[2016-09-22 14:03] #42 closed

[2016-09-22 14:06] #59 closed

[2016-09-22 23:28] oncletom commented on #57
Temporary folder are not created anymore so you should not encounter the problem :-)

[2016-09-22 23:28] #57 closed

[2016-09-22 23:29] oncletom commented on #55
`crx@3.1.0` has been released and should probably solve this issue. Reopen/ask to reopen it if it would not be the case.

[2016-09-22 23:29] #55 closed

[2016-10-18 17:12] scholtzm opened #68 "Relative path does not work with the `load` method"
When providing relative path in `load` method, the `crx` object will throw error:

`Error: Cannot find module 'relative/manifest.json'`

However, this should work [according to README.md](https://github.com/oncletom/crx#module-api).
A test case can be found in this repo: https://github.com/scholtzm/crx-issues

( Providing absolute path works as expected. )

[2016-10-18 17:16] scholtzm opened #69 "Private key should be automatically generated if not provided"
According to docs `privateKey` should not be required:
- https://github.com/oncletom/crx#crx--new-chromeextensionattrs
- https://github.com/oncletom/crx#crx-keygen-directory

However, without providing the key, the `crx` object will just print an error message to console and exit:
`Error Impossible to generate a public key: privateKey option has not been defined or is empty.`

Am I missing somethi

[2016-10-18 20:00] oncletom commented on #69
A private key should be provided only to generate a `crx` file – it is not required to generate a zip one.

Indeed the doc states it should be generated automatically – although I feel uncomfortable about it in retrospect, as I assume the private key defines the identity of the private extension (how does Chrome behave if the same extension is signed with two different private keys?).

For the mom

[2016-10-19 06:40] scholtzm commented on #69
Personally, I would expect the key to *not* be generated automatically - it could lead to some unexpected situations/WTF moments. This would also mean that the private key would be required parameter in the constructor or through some "setter" method.

[2016-10-19 06:41] scholtzm commented on #68
I'll add some more insight:
- relative path works in 3.0.4
- stopped working since 3.1.0

[2016-10-19 09:29] oncletom commented on #68
Hi @scholtzm, that's an issue indeed and I certainly broke it while adding the ability to cope with a list of files.

How do you call the method, like `crx.load('./relative')` or differently?

Thanks for your follow-up :-)

[2016-10-19 09:33] scholtzm commented on #68
Example from the repo from my initial comment: https://github.com/scholtzm/crx-issues/blob/master/example-relative-path.js

[code]

[2016-10-19 09:33] oncletom commented on #69
Agreed. Although the requirement only depends on what you try to generate — no signed package, no need for a private key so it's hard to enforce it at constructor time. What do you think?

That's a BC break so I'd rather change the behaviour in v4 (cf. #61).

[2016-10-19 21:47] scholtzm commented on #69
For now, I would probably start with updating the README.

Looking at the API proposal, perhaps the key could be a required parameter of the `sign` method or an optional param as suggested. In this case the sign method should throw I suppose.

[2017-01-18 20:30] dudeman805 opened #70 "Address issues found in src/crx.js [Opened by bitHound]"
bitHound discovered 1 LintIssue, and 1 TodoComment in [src/crx.js](https://github.com/oncletom/crx/blob/d65dc24d340078e48f918b2ebff44b580a40291a/src/crx.js). For details go to [bitHound](https://www.bithound.io/github/oncletom/crx/blob/d65dc24d340078e48f918b2ebff44b580a40291a/src/crx.js).

[2017-05-23 00:56] js-choi opened #72 "Calculate Chrome extension ID from private keys"
It is useful to calculate the Chrome extension ID corresponding to a given a private key. For instance, in order to run WebDriver functional tests for any Google Extension using Selenium–ChromeDriver, the extension ID is necessary to get the URLs of extension pages (background and popup pages).

As [Erik Kay says on Stack Overflow](https://stackoverflow.com/a/2050916/3842252), any extension’s ID i

[2017-07-20 15:08] oncletom commented on #72
Hello @js-choi, I was not aware of this feature but yes, it would be a good addition.

I would indeed favour a `#getExtensionIdFor(publicKeyBuffer)` to return a promise, because the public key is the real dependency. The `#generatePublicKey()` method would provide the required data if it is not already available within the workflow:

[code]

I can't remember if there is any value of storing the pu

[2017-09-13 12:46] kingio opened #73 "Can't make it work"
**Platform**: Windows 10 - 64b
**Node:** v6.11.1
**npm:** 3.10.10
**crx:** 3.2.1

1. I've run: `node ..\node_modules\crx\bin\crx.js pack -o build.crx` and it generated the build.crx + key.pem
2. I've tried running:
[code]
And doesn't output anything.
Also tried moving generateUpdateXML outside the crx.load and throws: `throw new Error('Public key is neither set, nor given');`
I've checked and pack

[2017-09-14 10:44] oncletom commented on #73
Hey @kingio,

I'm sorry to read you have some hard time making it work. Let's try to fix this together 🙂

I see you try to load the content of the `./build` directory. Is it the one which contains your extension `manifest.json` file? Or is it the location you want to store the compiled extension to?
If you aim `load()` at the directory which contains your extension, it should work.

`generateUpdat

[2017-09-19 12:30] kingio commented on #73
Yes, manifest was on inside `build` directory.
I ended hardcoding the public key in your code to build the crx.

[2017-09-21 19:17] bfred-it commented on #65
I don't think this would be necessary. Mozilla offers an excellent [`web-ext`](https://github.com/mozilla/web-ext) to do this and more.

[2017-10-10 08:57] reyoucat commented on #73
[code]
maybe, ignoring the folder will resolve it. (node_modules/**)

[2017-12-12 10:09] msakamoto-sf commented on #73
@kingio me too, same problem.

debugging with vscode, I found program abort at this line:
https://github.com/oncletom/crx/blob/master/src/crx.js#L96
[code]

I tried this tiny script: ( `./dist/chrome/manifest.json` existed.)
[code]
this result:
[code]

but `const manifest = require('./dist/chrome/manifest.json')` works correctly (success to json read).

[2017-12-12 10:10] msakamoto-sf commented on #73
I think this problem re-produce only at windows platform.

[2017-12-12 10:19] msakamoto-sf commented on #73
`path.join('./dist/chrome/', 'manifest.json')` on windows generates `dist\chrome\manifest.json`.
->
`const manifest = require('./dist/chrome/manifest.json')` successed,
<>
`const manifest = require('dist\\chrome\\manifest.json')` failed.

this may be node.js require() bug on windows platform.

[2017-12-12 10:30] msakamoto-sf commented on #73
This works on Windows10 Pro 64bit, node.js v8.9.1
[code]

Good Luck !!

[2018-01-31 09:58] thomasdavis opened #74 "What does the `codebase` option mean?"
Sorry for naivety but why do I have to link to a .crx file? I though the purpose of this library is to generate one?

[2018-02-01 11:37] ngyikp commented on #74
The codebase option is only used for generating the auto-update XML for self-hosted CRX, you can just ignore it if you don't plan to use that function

https://github.com/oncletom/crx/blob/09a074a633e60bc84ef3036ee7f3aa4be71b91aa/src/crx.js#L278-L292

[2018-02-02 16:02] oncletom commented on #74
@ngyikp answer is a good one, thanks :-)

I realize the README is not that clear about it. @thomasdavis how did you stumble on the `codebase` option? Let us know if you think of something else which would have avoided you stumbling on this issue :-)

[2018-02-15 13:18] oncletom commented on #73
Sorry for being late in the game.

I have setup a Windows build in the PR #76. But I struggle to reproduce the problem on any version of Node on Windows. Could it be related to the version of Windows too? We can build on `Windows Server 2012 R2` or `Windows Server 2016`.

Let me know, I'd be happy to see this one fixed.

[2018-02-15 13:20] #73 closed

[2018-02-27 07:18] NN--- opened #77 "Calculate ID from path"
I would like to have an option of calculating public key from the path.
https://stackoverflow.com/questions/45661524/chrome-extension-id-algorithm-for-local-folder/48567389#48567389

[2018-03-03 18:43] oncletom commented on #77
There is the method [`generateAppId()`](https://github.com/oncletom/crx/blob/aec0e8cd3d681e276745e0e9f79d9d32c3acc218/src/crx.js#L259).

I realise it is not documented nor exposed as a command line feature.

Would that be helpful? I can assist you in its implementation if you want to give it a go.

[2018-03-03 19:12] NN--- commented on #77
I am developing extension with native messaging host .
For development I load unpacked extension where id is dependent on path .
I want automatic match of id in allowed_origins of JSON for native messaging host.

I can implement this without the library, but thought that this functionality can be nice if presented.

https://developer.chrome.com/extensions/nativeMessaging

[2018-03-04 07:49] oncletom commented on #77
Oh I see. At the moment this function thinks it accepts a publicKey but in reality, if a path is given to the function, it should work.

If you do the following:

[code]

you should get what you ask for :-)

[2018-03-04 21:18] NN--- commented on #77
Works great.
Can you document it ?

[2018-03-04 21:18] #77 closed

[2018-03-05 21:54] NN--- opened #79 "Incorrect id calculation based on path"
[code]

Chrome gives you different id:
ID: igchicfaapedlfgmepccnpolhajaphik
Loaded from: C:\a

[2018-03-06 06:00] oncletom commented on #79
And when you use `C:\a` or `C:\\a` ?

There are stuff happening in the internals of Chrome that don't happen in `generateAppId`. We can notice that have a look at the [`GenerateIdForPath()`](https://cs.chromium.org/chromium/src/components/crx_file/id_util.cc?l=60) function in Chrome source (which internally calls `MaybeNormalizePath()` with some Windows specifics things).

[2018-03-06 06:50] NN--- commented on #79
I’ll check it and submit PR if it solves.

[2018-03-06 07:55] NN--- commented on #79
Still no go:

[code]

[2018-03-06 12:24] oncletom commented on #79
Hm, it's weird.

I can reproduce the same extension ID with crx, the command line and when loading an unpacked Chrome extension in Chrome directly. But on Linux. There seem to be a different behaviour somewhere on Windows.

[2018-03-07 20:29] #70 closed

[2018-03-13 10:52] #79 closed

[2018-03-13 10:55] oncletom commented on #79
@NN--- if you install `crx` via GitHub (`npm i github:oncletom/crx`) and try out the examples above, let me know if that works for you.

I'd be tempted to separate the methods, and have `generateIdFromPath` and `generateId` (with a Buffer) before releasing a new version of `crx`.

[2018-03-13 11:00] NN--- opened #82 "TypeScript"
What do you think about moving to TypeScript?

[2018-03-13 13:36] NN--- commented on #79
It works !

[2018-03-13 23:16] PavelVanecek commented on #82
What are the pros?

[2018-03-19 17:03] NN--- opened #84 "API for public PKCS PEM string"
I had to do it manually instead of using crx object.
[code]

This key in PKCS format without line ending and header, footer is used in 'key' property in the manifest.
https://developer.chrome.com/apps/manifest/key

This allows to have consistent extension id for unpacked extension placed in any folder.

[2018-03-20 08:36] oncletom commented on #84
So if I understand well, you are asking to generate a privateKey with `crx`?

Does the command [`crx keygen`](https://github.com/oncletom/crx#crx-keygen-directory) work for you? Or it's not what you are looking for?

[2018-03-20 09:45] NN--- commented on #84
Not exactly.
When you install extension, Chrome saves it unpacked inside profile foler\extensions
https://chromium.googlesource.com/chromium/src/+/lkcr/docs/user_data_dir.md

For each extension there is a manifest.json with "key" property.
This key is a public key in PKCS-8 format.
If you take any unpacked extension and copy the key property value, you get the same id.

[2018-03-20 11:10] oncletom commented on #84
Hm I see.

There is a method to generate a public key:

https://github.com/oncletom/crx/blob/120c3611f07e907159580974f85dfcb1b4b8b0dc/src/crx.js#L142-L154

`crx.generateAppId` can give you the extension ID based on the generated public key.

Would that work?

[2018-03-20 13:17] NN--- commented on #84
It is not the same.
I need pem format, and this makes der format.

[2018-03-20 16:16] oncletom commented on #84
I see, that's something I never looked out (their difference of use of the various formats).

As far as I can see, it's just a matter of passing a different parameter to the `exportKey` method.

There is maybe a way to derive a PEM key from a DER key but it looks fine to change the signature of the `generatePublicKey` method to accept a public key format ('pem' or 'der'; the latter being the defau

[2018-03-20 16:37] NN--- commented on #84
Yeah, possible solution with default to der.
Personally I use both, I need to know extension id and the public key pkcs to make local builds with the same id.

[2018-08-08 15:53] whyisjake opened #89 "Lodash Security Vulnerability"
`npm audit` is throwing a warning on this package. Would be great to get patched.

[code]

[2018-08-08 15:53] whyisjake commented on #89
Mentioned this on #83

[2019-01-09 20:56] th0rgall opened #91 "Packed & signed .crx does not work in Chrome"
Chrome version 71.0.3578.98 (Official Build) (64-bit)
OS: macOS 10.14.2
node v11.5.0
crx 3.2.1

When trying to pack a crx with the following command: `npx crx pack dist/chrome -p chrome.pem > dist/voc-api-chr.crx `, the .crx gets generated without errors.

When I try to load the .crx in Chrome however, I get the error `Package is invalid: "CRX_HEADER_INVALID"`.

Packing with Chrome manually works

[2019-01-11 00:45] haykam821 opened #92 "Allow supplying our own `fs`"

[2019-01-11 06:47] oncletom commented on #92
Any hint or reason why?

[2019-01-11 06:50] oncletom commented on #91
Thanks, that's a problem for sure.

I will try to have a look into it next week.

[2019-01-11 12:12] haykam821 commented on #92
Sorry for not explaining why. In my project's build process, I webpack the source and generate a manifest. I was attempting to use [`memory-fs`](https://github.com/webpack/memory-fs), but since you cannot supply an alternative `fs`, I must write the files temporarily in order to execute my final step, packing the Chrome extension.

[2019-01-11 13:32] IgnusG commented on #79
@oncletom Is there a reason there are no further releases on npm?

[2019-01-12 22:08] oncletom commented on #92
Hm, so if I understand well, you would like `crx` operations (in the context of webpack), to access the resources you previously stored with `memory-fs`?

Isn't it solved by using the `resolve.alias` webpack directive? https://webpack.js.org/configuration/resolve/

It looks like you could say `fs` is aliased as `memory-fs`, without having to alter crx codebase.

[2019-01-13 01:37] haykam821 commented on #92
@oncletom No, I use this module on the bundle generated by webpack. The build script is regular Node.js.

[2019-01-13 15:37] haykam821 commented on #92
@oncletom Yes, I am trying to use `memory-fs` as the output filesystem for the bundle generated by webpack. However, since I cannot use `memory-fs` as the input filesystem for `crx`, I must temporarily store the bundle so that `crx` can pack it.

[2019-01-13 19:30] oncletom commented on #92
OK, thanks for the link to webpack documentation. The example sounds clear and concise.

By reading it, I understand `memory-fs` applies to the webpack configuration, but I struggle to understand the impact on the packed bundle. I struggle to understand how they can share the same space of `memory-fs`. Do you have an example of that in the wild?

Thanks for being patient. I have never used webpack

[2019-01-13 19:50] oncletom commented on #79
@IgnusG it's not intentional, mostly a lack of headspace to wrap my head around what was required to release a new version. I think I felt ambiguous releasing a major version just to bump some dependencies and the minimum Node version requirement.

Time has passed and I'm fine with it now. I'll take some time this week to wrap things up and release a new version. Thanks for raising this issue 👍

[2019-01-13 21:35] oncletom commented on #79
Yeah, me too I'm wondering!

Fetching a git dependency is slower than an npm module so I'm quite happy if that's easier to track.

I'll probably publish a pre-release, thinking about it.

[2019-01-13 22:30] haykam821 commented on #92
@oncletom The output `bundle.js` from webpack is exactly the same, except since we are using `memory-fs` instead of `fs`, it will be stored in memory and not on the filesystem. The proposal here is that we can continue to use `memory-fs` and pack `bundle.js` and a generated `manifest.json` into a Chrome extension.

I don't know of anything that uses this in the wild, but here is the simplified par

[2019-02-03 17:11] oncletom commented on #92
Okay, I see what you mean. It is clear to me now. Thank you for the code snippet :-)

I dug a bit in the code and most of the I/O operations are performed by [`archiver`](https://github.com/archiverjs/node-archiver), which inflates the files. So the problem would reflect on this module too.

I need to think more about how to design something nice.

[2019-02-03 17:12] oncletom commented on #89
Should be gone with `crx@4.0.0` release 🙂

Thanks for reporting it (although, it took me ages to address).

[2019-02-03 17:12] #89 closed

[2019-02-03 17:13] oncletom commented on #82
I'd like to learn but I'm not sure it's bringing a lot of value to this project. Do you think it would simplify some aspects of it?

[2019-02-03 18:54] NN--- commented on #82
Personally, I don't know how people maintain big projects without typings :)
I have worked on such one and it is really hard especially when you see the code first time.

BTW, you can use JavaScript with TypeScript type checker: https://github.com/Microsoft/TypeScript/wiki/Type-Checking-JavaScript-Files

[2019-03-13 19:32] Mathieuu commented on #91
Same problem

[2019-03-18 16:37] miguelespinoza commented on #91
Yup, I'm seeing that issue as well.

On Chrome version **73.0.3683.75 (Official Build) (64-bit)**
Worked fine in Chrome version **72.0.3626.119 (Official Build) (64-bit)**

@oncletom any idea what could be causing this? I did a general search and didn't find anything

[2019-03-18 16:44] miguelespinoza commented on #91
FYI, occurs in Google Canary Version 75.0.3737.0 (Official Build) canary (64-bit)

[2019-03-19 23:30] arkon commented on #91
@miguelespinoza Chrome 73 requires the CRXs to be packed with the CRX3 header format, which #98 addresses. I'm hoping it's merged soon!

[2019-03-22 12:43] miguelespinoza commented on #91
Interesting, thanks @arkon. I ended up using Chromes package method
`/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --pack-extension=`

Any release notes from Chromium that would have made this obvious?

[2019-03-22 14:35] arkon commented on #91
@miguelespinoza I only found it after looking through the list of commits between the Chrome 72.x and Chrome 73.x releases. :(

[2019-03-27 14:47] oncletom commented on #91
I made one comment in #98, to make the default value for the manifest version to be equal to `3`.

[2019-03-30 07:03] ahwayakchih commented on #91
I guess this should be fixed now, right?
@th0rgall, @Mathieuu, @miguelespinoza can you confirm that latest master works OK now?

[2019-03-30 07:07] ahwayakchih commented on #40
@oncletom maybe something like i did here: https://github.com/ahwayakchih/crx3/blob/master/lib/crx3stream.js

In short: implement WriteStream, that simply updates sign and passes data to file, but at the end it finishes creating CRX header and writes it at the beginning of file.

[2019-03-30 07:15] ahwayakchih opened #101 "Do not write PEM inside extension's directory"
Writing private key file inside extension's directory is just an accident waiting to happen ;).

Maybe it would be safer to default to creating it next to the directory instead?

[2019-04-01 06:02] #13 closed

[2019-04-01 10:37] MichalMeszaros commented on #91
Just info this can be marked as fixed tested it on my extension and correctly it can be installed on Canary and normal version of the Chrome

[2019-04-01 12:24] ahwayakchih commented on #91
Thanks for the info @MichalMeszaros!

[2019-04-01 12:25] ahwayakchih commented on #91
@oncletom can you close this in spare time?

[2019-04-01 13:41] arkon commented on #91
Might want to close this after a release is pushed out to NPM.

[2019-04-03 16:53] dchancogne commented on #91
Any chance to get an official release now that it's merged?

[2019-04-07 08:26] ahwayakchih commented on #69
This was fixed by #98 that started generating key, if none was specified.
It will be improved by #104 that moved default key path outside of extension's directory.

[2019-04-07 19:22] ahwayakchih commented on #61
I'm not sure that separating `pack` and `sign` is really needed. Without signing, `pack` becomes basically just a ZIP command, and there are already other modules for that.

Also, while this:
[code]
looks quite nice, it would require keeping everything in memory. I thought the goal was to stream data without caching it.
AFAIK, there is no way to target specific position earlier in stream while pip

[2019-04-10 14:26] xvilo commented on #91
Would like to see an official release so we can update packages :)

[2019-04-10 16:04] ahwayakchih commented on #91
Someone with rights to publish on npm is needed :).

cc @oncletom, @jed, @joscha

[2019-04-10 16:05] #101 closed

[2019-04-10 19:13] oliv9286 commented on #91
omg please 🙏 still waiting for an official release

[2019-04-10 19:14] xvilo commented on #91
Just added this as a git repo in with npm, make sure you use master. Then it's usable :D

[2019-04-10 19:16] xvilo commented on #91
Just added this as a git repo in with npm, make sure you use master. Then it's usable :D Please see https://github.com/PavelVanecek/gulp-crx/pull/27 for example :P - And I then required that with the specific branch in my own project where I needed it to be working :'))))

[2019-04-10 22:13] joscha commented on #91
Sorry, only have gh

[2019-04-12 18:41] bvaughn commented on #91
Just an FYI for folks asking for this to be released– this package on NPM just points to the source:
https://github.com/oncletom/crx/blob/d54145fb74067a44d5f3ab6123dc4b1b130f36ee/package.json#L12-L15

So you can install the updated version directly from GitHub, e.g. ef150e8
[code]

[2019-04-16 05:52] Deliaz commented on #91
I use the version from the master branch and it works well, thanks. But few modules (such as `crx-webpack-plugin`) depends on released version (which is 4.0.1 now).

Btw, for those who looking updated webpack wrapper: I have fork here: [Deliaz/crx-webpack-plugin](https://github.com/Deliaz/crx-webpack-plugin) which points to the `crx@master`.

[2019-04-16 17:31] kiastu commented on #91
@oncletom, @jed
Is there anything we can do to help speed the process of releasing on NPM?
Is there any blockers we can help with?

[2019-04-16 20:39] jed commented on #91
@ahwayakchih, i've added you as an owner on npm.

[2019-04-17 07:44] ahwayakchih commented on #91
Thanks @jed! I'll prepare new release as soon as #105 and then next one with updated CHANGELOG are merged :).

[2019-04-17 08:23] ahwayakchih commented on #91
Wow, @joscha quickly reviewed last changes and v5.0.0 is on npm now :)!

I hope i did not screw up anything while publishing :crossed_fingers: :).
It would be great if people could confirm that it works ok, so we can (finally) close this issue.

[2019-04-17 10:27] philmacdonald2 commented on #91
I can confirm it packs my extension in a usable format, but I don't deploy through the store - only through the ExtensionForceList

[2019-04-17 14:20] ahwayakchih commented on #91
@philmacdonald2 thanks for the info. If v5.0 from npm creates CRX that works in Chrome that's OK.

If Update Manifest does not work, new bug issue can be created.

Thanks everyone!

[2019-04-17 14:20] #91 closed

[2019-04-17 14:23] ahwayakchih commented on #69
Private key is now automatically created next to the extension's directory.

@scholtzm please reopen this issue if still needed.

[2019-04-17 14:23] #69 closed

[2019-04-17 17:38] #68 closed

[2019-04-22 02:01] oncletom commented on #91
@ahwayakchih did pushing a new git tag published a new npm release? I thought that was working 🤔 (thanks @jed for giving npm publishing permissions)

[2019-04-22 05:54] ahwayakchih commented on #91
@oncletom it may work, but i did not know about it and i added tag only after publishing to npm :(.

[2019-04-30 08:01] SebastienGllmt opened #108 "CRX3 inconsistent extension URL"
Hello. Our extension runs as a sanboxed webpage when you visit our extension URL (ex: visiting `chrome-extension://bdlknlffjjmjckcldekkbejaogpkjphg/main_window.html` opens our extension)

# Version  2
When using `version: 2`, my resulting extension always gets the same extension ID. This is important because our tests start by opening a hardcoded URL I mentioned above.
[code]
# Version 3

When usi

[2019-05-01 06:54] ahwayakchih commented on #108
@SebastienGllmt ID should be the same, otherwise it would not pass the automated tests. If ID is different every time you run your tests, it may be that it does not find private key, and generates new one.
Can you check if new `key.pem` file shows up somewhere? Also there should be something like `Created new private key at: ` in stderr output, if it creates new key.

[2019-05-15 15:39] insanehong commented on #84
You can convert der to pem.

[code]

[2019-06-12 08:35] eladnava opened #109 "Chrome 75.x: Package is invalid: 'CRX_REQUIRED_PROOF_MISSING'"
Hello all,
Thanks so much for your work on this amazing package!

Seems like Chrome 75 doesn't like it when `crx`-generated extensions are sent for download by the server. When trying to download `crx` files within Chrome, the download fails and the following message is displayed:

[code]

Chrome: 75.0.3770.80 (Official Build) (64-bit)
OS: MacOS High Sierra

The `crx` is sent for download by sendi

[2019-06-12 08:40] eladnava commented on #109
Found a workaround, sending a different `Content-type` but still saving the file with the `.crx` extension:

[code]

[2019-06-12 10:58] realjax commented on #109
Not sure anout Windows 10 , but on my Work pc ( osx) I still get this:

![Screenshot 2019-06-12 at 12 55 47](https://user-images.githubusercontent.com/883435/59346043-b446a580-8d11-11e9-84c7-28e360b4703e.png)

[2019-06-12 11:23] eladnava commented on #109
@realjax Are you trying to generate a new extension here?
https://applicationize.me/now

It works for me now on Chrome 75 using the workaround above.

[2019-06-12 13:10] ahwayakchih commented on #109
@eladnava, @realjax according to documentation about linux hosting, extension has to specify `update_url` in its `manifest.json` file, which respondes with XML file/data: https://developer.chrome.com/extensions/linux_hosting#update_url

[2019-06-13 06:24] ahwayakchih commented on #109
According to documentation, Chrome does not allow installing CRX from outside of their store, unless in developer mode or through enterprise policy: https://developer.chrome.com/extensions/hosting_changes, or on Linux (it's mentioned at the beginning of linux_hosting i linked in my previous comment).
So that may be a reason, because in their source, proof missing error is returned only if either p

[2019-06-13 06:31] ahwayakchih commented on #109
When i drag&dropped tiny test CRX onto Chrome's window (onto default new tab) i got the same error.
When i drag&dropped it onto a tab opened on `chrome://extensions/` it worked OK.

@eladnava @realjax can you check that too?

[2019-06-13 08:01] eladnava commented on #109
Hi @ahwayakchih,
Chrome used to allow downloading CRX files via HTTP file download (using `application/x-chrome-extension` mime-type).

Chrome 75 broke that, but `.crx` files can still be downloaded, just the `Content-type` header needs to be changed:
[code]

This is the workaround we used, we can close this issue.

[2019-06-13 08:01] #109 closed

[2019-06-18 21:06] SebastienGllmt commented on #108
In case anybody else runs into this issue, it turns out the bug is not with this library at all. I filed a bug along with an investigation on this issue here: https://bugs.chromium.org/p/chromedriver/issues/detail?id=2961

[2019-06-18 21:06] #108 closed

[2019-06-18 21:25] arkon commented on #108
@SebastienGllmt Nice find!

[2019-06-25 15:47] stephenarifin commented on #109
Hey guys, I'm receiving this issue with the same version of chrome but not when downloading a CRX file. I pack my extension via Chrome's "Pack Extension" button on the extensions page. When I double click the crx file I just create, it gives me the error CRX_REQUIRED_PROOF_MISSING.

I'm in developer mode, and could use some advice. The end goal is to load the extension into a Selenium automated br

[2019-06-25 16:19] ahwayakchih commented on #109
@stephenarifin According to documentation, Chrome on Windows blocks installing CRX if it's not from their web store. But you may still work around that using policies (look for "chrome policy force_install") and webserver that serves both CRX and XML files.
Or test using data from ZIP file instead of full CRX file (look for "Testing Chrome Extensions with Selenium" article from 28th of January 201

[2019-06-25 16:25] stephenarifin commented on #109
@ahwayakchih, thanks for the response. To be clear, I'm actually using MacOS and not installing the extension from a web server. This is a local dev copy of an extension i'm developing.

[2019-06-25 18:27] ahwayakchih commented on #109
@stephenarifin what happens when you go to chrome://extensions page, switch developer mode on and drag and drop CRX file into the window?

Here, on Linux with Chromium, i get confirmation dialog, click "Add extension" and it installs OK.
But when i drag & drop CRX file on some other page, it shows `CRX_REQUIRED_PROOF_MISSING` error, even after i click "continue" on warning dialog.

But it should b

[2019-06-25 23:14] stephenarifin commented on #109
@ahwayakchih, if I drag and drop the CRX file into the extension window, I get the confirmation dialog and installs correctly. However, if I double click the CRX file, I get the `CRX_REQUIRED_PROOF_MISSING` error. If I drag and drop the CRX on another page that isn't extensions, nothing happens.

[2019-06-26 06:14] ahwayakchih commented on #109
@stephenarifin OK, so for checking manually if CRX file works, you can still install it through extensions window. `CRX_REQUIRED_PROOF_MISSING` error is about missing signature from Chrome's web store AFAIK, so if it installs through extensions window, file is valid, just unsigned.

To test if extension works after it's installed, you may try using ZIP file or a path to extension's directory (the

[2019-06-26 09:09] ahwayakchih commented on #109
@stephenarifin check these:

1. Configuring policy files on Mac: https://www.chromium.org/administrators/configuring-policy-for-extensions#TOC-Mac
2. Enabling installing CRX from custom URLs: https://www.chromium.org/administrators/policy-list-3#ExtensionInstallSources

So, for Mac, to enable installing local CRX files, `plist` file could be like (not tested!):
[code]
I just tested that on Linux (

[2019-07-21 17:37] th0rgall opened #111 "Upgrade vulnerable lodash (again)"
It seems lodash again has a severe vulnerability before 4.17.13

More info about the vulnerability: https://github.com/lodash/lodash/pull/4336

Current version of lodash in package.lock: 4.17.11 (https://github.com/oncletom/crx/blob/master/package-lock.json#L1712)

A previous vulnerability fix was done here: https://github.com/oncletom/crx/issues/89, I guess this one can be done the same way.

[2019-07-22 09:58] #111 closed

[2019-07-22 10:00] oncletom commented on #111
Hey @th0rgall, thank you for signaling this dependency issue.

The only not-up-to-date dependency is a dev one, `github-changes`.

[code]

The new patch release should be automatically published online in a few minutes.

[2019-08-28 07:34] prasanth-G24 opened #114 "cli: crx command not found"
I ran `npm install crx` and it installed crx 5.0.1 without any errors. I was able to locate the crx module within node_modules dirctory. When I ran `crx pack -o` my terminal says: **Command 'crx' not found**.

npm version: 6.10.1
node version: 11.6.0
OS version: Ubuntu 18.04

[2019-08-28 11:33] prasanth-G24 commented on #114
The issue is solved after I installed crx globally.

[2019-08-28 11:33] #114 closed

[2019-10-23 17:14] clothesack opened #118 "how solveing to Callback must be a function ?"
When I use case generation, an error is reported as follows 。eg:
The line code：    fs.writeFile('./myExtension.crx', crxBuffer);
error:
TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at maybeCallback (fs.js:133:9)
    at Object.writeFile (fs.js:1139:14)
    at crx.load.then.then.crxBuffer (d:\HuffService\test.js:15:8)
    at process._tickCallback (internal/process/next_tick.js:6

[2019-10-23 17:29] ahwayakchih commented on #118
`fs.writeFile` requires third parameter: `callback`:
https://nodejs.org/api/fs.html#fs_fs_writefile_file_data_options_callback

Try something like this:
[code]

[2019-10-23 18:17] clothesack commented on #118
Thank you for your reply, which solved my problem。

[2019-10-23 20:13] ahwayakchih commented on #118
I'm glad that it worked :).

[2019-10-23 20:13] #118 closed

[2019-10-24 09:51] clothesack opened #119 "I have a problem. The generated file is incomplete"
When I use node to run 'CRX = > CRX. Pack(); fs. WriteFile ("xpd",crxBuffer)', the content of the CRX file is not complete, but it is complete when I use the CMD command 'CRX pack - O xxx'. . I want to know how to solve it. I look forward to your reply.Thanks.
![Snipaste_2019-10-24_17-49-55](https://user-images.githubusercontent.com/39519250/67474273-c43ea080-f686-11e9-870d-d4732876a6ff.png)
![Sni

[2019-10-24 14:45] clothesack commented on #119
I solved the problem through your reply, sincere thanks

[2019-10-24 15:32] #119 closed

[2020-02-25 14:25] wyudong opened #121 "Why are the hash of crx files different using the same private key"
I'm packing a directory using the same private key twice, but two output files have the different hash. However, packing crx in Chrome will generate two identical crx. No matter which packing methods I choose, those crx are all working as expected but I'd like to know the reason for the different hash.

[code]

Cheers

[2020-03-30 00:51] Jcanno opened #123 "use crx pack failed"
[code]

I just copy code of document and delete codebase option, use my correct path, but pack going error, how should I do?
[code]

[2020-03-30 06:30] ahwayakchih commented on #123
Example code needs to be updated, because `fs.writeFile` [requires callback](https://nodejs.org/dist/latest-v13.x/docs/api/fs.html#fs_fs_writefile_file_data_options_callback) now.
Try this:

[code]

or something like this:

[code]

[2020-03-30 08:21] #123 closed

[2020-07-03 05:08] howel52 opened #124 "Is there any plan to support rollup plugins ？"
I see from the documentation that it currently supports `grunt`、`webpack`、`gulp`. Is there any plan to support rollup in the future ?

[2021-04-28 14:31] scholtzm opened #128 "Reduce CRX size by setting zlib compression level"
I tested packaging our extension using the built-in tool in Chrome browser vs. this module and the size difference can be pretty large -- in our case it's ~700kB smaller when using the Chrome browser.

After short investigation, I have found out that if you pass level 9 ("best compression") to zlib, size of the package will be reduced to similar size. The CRX will load just fine in Chrome browser.

[2021-06-10 02:32] kennynguyeenx opened #131 "Some extensions need to include .crx files"
I need to pack one extension which include another .crx files but for now they are ignored in code and we don't have any options to configure for it

For now, I have hard patched the module in node_modules folder but this is not ideal.

https://github.com/oncletom/crx/blob/master/src/index.js#L160

`archive
        .glob(selfie.src, {
          cwd: selfie.path,
          matchBase: true,

[2021-08-24 14:58] oncletom commented on #131
Sorry for lagging and making you wait. And thanks for reporting this issue!

It totally makes sense to me, I’m thinking to make the `ignore` bit an option.

And maybe in the future to rework the API so the file list becomes a mandatory argument.

If you feel like proposing a fix you’re welcome, otherwise I’ll do it when I get my computer back from repair.

[2021-08-24 15:09] oncletom commented on #128
Hi there,

Can you open a pull request with this exact change?

Otherwise I’ll do it when I get my computer out of repair.

[2021-08-24 15:28] oncletom commented on #124
It should work if you process this codebase with rollup.

Let me know if you have a more precise example in mind, or a use case where it did not work with Rollup.

[2021-08-24 15:28] #124 closed

[2021-08-24 15:30] oncletom commented on #92
A way to achieve this is documented here https://github.com/archiverjs/node-archiver/issues/216

[2021-08-24 15:37] oncletom commented on #82
I’m keen on adding a TS definition file. It would be a nice first step.

I’m willing to have a go at it while porting the code to be an ESM first module.

[2021-08-24 15:40] oncletom commented on #121
Good question!

I suspect a time based metadata changes  somewhere but I can be wrong.

[2021-08-24 15:42] #65 closed

[2021-08-28 05:55] #128 closed